@model MediiProgramareEntity.Models.StudioModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>StudioModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudioId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoviesCreated" class="control-label"></label>
                <input asp-for="MoviesCreated" class="form-control" />
                <span asp-validation-for="MoviesCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeBoxOffice" class="control-label"></label>
                <input asp-for="HomeBoxOffice" class="form-control" />
                <span asp-validation-for="HomeBoxOffice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorldBoxOffice" class="control-label"></label>
                <input asp-for="WorldBoxOffice" class="form-control" />
                <span asp-validation-for="WorldBoxOffice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
