@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Proiect Medii de Programare</h1>
    <h2>Faragau Rares Andrei</h2>
    <div class="menu">
        <a href="/Movie">Movies</a>
        <span class="separator"></span>
        <a href="/Genre">Genres</a>
        <span class="separator"></span>
        <a href="/Studio">Studios</a>
    </div>
</div>
